// Styles

code {
	font-family: "fira code", "Source Code Pro", monospace;
	font-size: 1.2rem;
	line-height: 1.1;
	color: #000;
	background-color: #eee;
	border-radius: 0.25rem;
	border: 1px solid #fff;
	margin: 0.5rem 0;
}
